doc/api/XSD/loginRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="loginModel">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="username"/>
                <xs:element type="xs:string" name="password"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>