doc/api/XSD/searchRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="searchModel">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="genre" />
                <xs:element type="xs:string" name="provider" />
                <xs:element type="xs:string" name="score" />                    
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>